body{
    background: #04A1BF;
    font-family: 'Open Sans', sans-serif;
    color: white
}

h1{
    font-weight: 800;
}

ul{
    padding: 0;
}


li{
    text-align: left;
    list-style: none;
    background-color: #4EB9CD;
    padding: 0.7em;
    border: 2px solid #025f70;
    border-radius: 0.5em;
    transition: all 0.3s;
    margin: 0.5em 0;
}


li > button{
    color: white;
    float: right;
    background: none;
    border: none;
    transition: color 0.2s;
}

li > button:hover{
    color: #025f70;
}

#add{
    color: #025f70;
    background: #4EB9CD;
    border: 2px solid #025f70;
    padding: 0.2em 1em;
    border-radius: 0.5em;
    margin-left: 0.5em;
    transition: all 0.2s;
}

#add:hover{
    color: white;
    border: 2px solid white;
}

li:hover{
    box-shadow: 0em 0.5em 0.5em -0.4em black;
    transform: translateY(-0.2em);
    cursor: pointer;
}

.done{
    background-color: #51DF70;
    color: #00891E;
}
.delete{
    display: none;
}

.dragging{
    opacity: 0.4;
}

.hover{
    border-top: 3px dashed white
}